# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
automation/output/
.vscode/

# Executables
*.swf
*.air
*.ipa
*.apk
*.ane
*.swc
installer/*.exe
installer/*.o
assets/splitter/*.o

GameScripts/*
GameScripts/scripts/*
!GameScripts/scripts/.gitkeep

Bezel-base.linkreport.xml

libs/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
